

@{

    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/kendo/2021.2.616/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.bootstrap-v4.css" rel="stylesheet" />
    <link href="~/Content/kendo/2021.2.616/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/adminlte.min.css" rel="stylesheet" />



    <script src="~/Scripts/kendo/2021.2.616/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2021.2.616/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/2021.2.616/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/2021.2.616/kendo.all.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">

        <div class="k-notification-content k-notification-container" id="validation-summary">
        </div>

        <form id="ticketsForm" class="k-form">
            <div >
                <ul >

                    <li class="">
                        <label for="email" class="k-form-label ">Email</label>
                        <span class="">
                            @(Html.Kendo()
                .TextBox()
                .Name("Email")
                .HtmlAttributes(new { placeholder = "myname@example.net", required = "required", type = "email", data_email_msg = "Email format is not valid", @id = "UserName" })
                            )
                        </span>
                    </li>
                    <li class="">
                        <label for="tel" class="k-form-label">Şifre</label>
                        <span class="">
                            @(Html.Kendo()
                .TextBox()
                .Name("Password")

                .HtmlAttributes(new { required = "required", type = "password", validationmessage = "Şifrenizi kontrol ediniz", @id = "password" })
                            )
                        </span>
                    </li>
                    <li class="">
                        <button class="k-button k-button-primary k-button-expand " id="login">Giriş Yap</button>
                    </li><hr />
                    <a class="k-button k-button-primary k-button-expand k-button-md k-rounded-md "
                       href="~/User/Register">Kayıt Ol</a>
                </ul>
               
            </div>
           
        </form>


        <hr />
      
    </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - Öğrenci Yönetim Paneli</p>
            </footer>
     
   

    
    <script type="text/javascript">
        $(document).ready(function () {
            var validator = $("#ticketsForm").kendoValidator().data("kendoValidator");
            var validationSummary = $("#validation-summary");

            $("#login").click(function () {

                var data = new Object();
                data.UserName = $('#UserName').val();
                data.Password = $('#password').val();

                $.ajax({
                    type: "POST",
                    url: '/User/Index',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        if (data) {
                            validationSummary.html("<div class='k-messagebox k-messagebox-success'>Giriş İşlemi Başarı Bir Şekilde Gerçekleşti</div>");
                            window.location.href = "/Student/Index";
                        }
                        else {

                            validationSummary.html("<div class='k-messagebox k-messagebox-error'>Giriş İşlemi Başarısız Lütfen Bilgilerinizi Kontrol Ediniz</div>");
                        }
                    },
                    error: function Error() {

                        validationSummary.html("<div class='k-messagebox k-messagebox-error'>Giriş İşlemi Başarısız Lütfen Bilgilerinizi Kontrol Ediniz</div>");
                    }

                });
            });

        });



    </script>


</body>
</html>
